name: Surkeha Hospital Backend

on:
  push:
    branches: [ main ]

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Deploy to VPS via SSH
        uses: appleboy/ssh-action@master
        with:
          host: ${{ secrets.HOST }}
          username: ${{ secrets.USERNAME }}
          key: ${{ secrets.SSH_KEY }}
          port: 22
          script: |
            # 1. Move to the directory
            cd /var/www/surekha-backend
            
            # 2. Setup Git to trust this directory
            git config --global --add safe.directory /var/www/surekha-backend
            
            # 3. Handle Git (Using SSH URL to avoid password prompt)
            if [ -d ".git" ]; then
              git pull origin main
            else
              git init
              git remote add origin git@github.com:Raghavendra-Reddy-Padala/surekha-wt-backed.git
              git fetch
              git checkout -f main
            fi
            
            # 4. Install dependencies using full path to npm
            /usr/bin/npm install --production
            
            # 5. Restart the server using full path to pm2
            /usr/bin/pm2 delete hospital-api || true
            /usr/bin/pm2 start server.js --name "hospital-api"
            /usr/bin/pm2 save